<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Expense Invoices</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
	body {background-color:rgb(80, 87, 99); margin-top:20px;}
	h1 {color:white;}
	</style>
</head>
<body>
<div class="container p-3 mb-2 bg-light text-black rounded">
	<h2>Edit department</h2>
	<br>
	<!-- Controller has a function that listens the "@{savedeptt} action. -->
	<form th:object="${department}" th:action="@{../savedept}" action="#" method="post">
		<input type="hidden" th:field="*{id}" class="form-control"/>
		<div class="form-group">
		<label for="dept">Department</label>
		<input type="text" id="dept" th:field="*{depName}" class="form-control"/>
		</div>
		
		<input type="submit" class="btn btn-large btn-success" value="Save"></input>
	</form>
	<br>
	<a href = "/deptlist" class = "btn btn-sm btn-success">Departments</a>
	
</div>
</body>
</html>