<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Expense Invoices</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
	<h1>Expense Invoices</h1>
	</div>
	<br>
	<div class="col-md-4">
	<!-- This will show the logged in user name after the Welcome text. -->
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<br>
	<div class="col-md-4">
	<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign out" class="btn btn-sm btn-danger"/></form>
	</div>
	
	<table class="table table-striped">
		<tbody>
		<tr>
			<th>Date</th>
			<th>Type</th>
			<th>Definition</th>
			<th>Sum €</th>
			<th>VAT %</th>
			<th>User</th>
			<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
		</tr>
		<!-- th:each loops the model attribute "expenses" through and inputs its content to the "expense" object, which is declared here -->
		<tr th:each = "expense : ${expenses}">
		<!-- th:each views the content of the expense object, which was declared above. You need to use the Expense class attribute with the expense object to print the content of it, i.e.: expense.date, etc. -->
		<td th:text = "${expense.date}"></td>
		<td th:text = "${expense.typeOfExpense.typeDef}"></td>
		<td th:text = "${expense.expenseDef}"></td>
		<td th:text = "${expense.sum}"></td>
		<td th:text = "${expense.vat.vatPercentage}"></td>
		<td th:text = "${expense.user.username}"></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/delete_exp/{id}(id=${expense.id})}" class="btn btn-xs btn-danger">Delete</a></td>
		</tr>
		</tbody>
		</table>
		<br>
		<a href = "/add" class = "btn btn-large btn-success">Add new expense invoice</a>
		<td sec:authorize="hasAuthority('ADMIN')"><a href = "/typeofexpenselist" class = "btn btn-large btn-success">Expense types</a></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a href = "/vatlist" class = "btn btn-large btn-success">VAT percentages</a></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a href = "/userlist" class = "btn btn-large btn-success">User list</a></td>
	
</div>	
</body>
</html>