<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Expense Invoices</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
	body {background-color:rgb(120, 127, 139); margin-top:20px;}
	table {border-radius: 10px; background-color:rgb(86, 93, 105);}
	th,td {color:white;}
	h1 {color:black;}
	</style>
</head>
<body>
<div class="container p-3 mb-2 bg-light text-black rounded">
	
	<div class="col-md-4">
	<h1>Expense Invoices</h1>
	</div>
	<br>
	<div class="d-flex justify-content-center">
	<div class="col-md-4">
	<!-- This will show the logged in user name after the Welcome text. -->
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4">
	<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign out" class="btn btn-sm btn-danger"/></form>
	</div>
	</div>
	<table class="table">
		<tbody>
		<tr>
			<th>Date</th>
			<th>Type</th>
			<th>Definition</th>
			<th>Sum €</th>
			<th>VAT %</th>
			<th>User</th>
			<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
			<th sec:authorize="hasAuthority('ADMIN')">User</th>
		</tr>
		<!-- th:each loops the model attribute "expenses" through and inputs its content to the "expense" object, which is declared here -->
		<tr th:each = "expense : ${expenses}">
		<!-- th:each views the content of the expense object, which was declared above. You need to use the Expense class attribute with the expense object to print the content of it, i.e.: expense.date, etc. -->
		<td th:text = "${expense.date}"></td>
		<td th:text = "${expense.typeOfExpense.typeDef}"></td>
		<td th:text = "${expense.expenseDef}"></td>
		<td th:text = "${expense.sum}"></td>
		<td th:text = "${expense.vat.vatPercentage}"></td>
		<td th:text = "${expense.user.username}"></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/delete_exp/{id}(id=${expense.id})}" class="btn btn-xs btn-danger">Delete</a></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/edit_exp/{id}(id=${expense.id})}" class="btn btn-xs btn-success">Edit</a></td>
		</tr>
		</tbody>
		</table>
		<br>
		<a href = "/add" class = "btn btn-large btn-success">Add new expense invoice</a>
		<td sec:authorize="hasAuthority('ADMIN')"><a href = "/typeofexpenselist" class = "btn btn-large btn-success">Expense types</a></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a href = "/vatlist" class = "btn btn-large btn-success">VAT percentages</a></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a href = "/userlist" class = "btn btn-large btn-success">User list</a></td>
	
</div>	
</body>
</html>