<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Expense Invoices</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
	body {background-color:rgb(120, 127, 139); margin-top:20px;}
	h1 {color:white;}
	label {color:white;}
	</style>
</head>
<body>
<div class="container p-3 mb-2 bg-dark text-black rounded">
	<h1>Expense invoice</h1>
	<div th:if="${param.error}" class="well" style="color: white">
	Invalid user name and password!
	</div>
	<div th:if="${param.logout}" class="well" style="color: white">
	You have been logged out.
	</div>
	<div class="col-md-4">
	<form th:action="@{/login}" method="post">
		<div><label>Username: <input type="text" name="username"/></label></div>
		<div><label>Password: <input type="password" name="password"/></label></div>
		<div><input type="submit" value="Sign in" class="btn btn-large btn-success"/></div>
	</form>
	</div>
</div>
</body>
</html>