<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Expense invoices</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
	body {background-color:rgb(120, 127, 139); margin-top:20px;}
	table {border-radius: 10px;}
	th,td {color:white;}
	</style>
</head>
<body>
<div class="container p-3 mb-2 bg-light text-black rounded">

	<h2>User list</h2>
	<br>
	
	<table class="table table-dark">
		<tbody>
		<tr>
			<th>User name</th>
			<th>First name</th>
			<th>Last name</th>
			<th>email</th>
			<th>Role</th>
			<th>Department</th>
			<th>Edit</th>
		<!-- <th>Delete</th>  -->
		</tr>
		<!-- th:each loops the model attribute "users" through and inputs its content to the "user" object, which is declared here -->
		<tr th:each = "user : ${users}">
		<!-- th:each views the content of the user object, which was declared above. You need to use the User class attribute with the user object to print the content of it. -->
		<td th:text = "${user.username}"></td>
		<td th:text = "${user.firstName}"></td>
		<td th:text = "${user.lastName}"></td>
		<td th:text = "${user.email}"></td>
		<td th:text = "${user.role}"></td>
		<td th:text = "${user.department.depName}"></td>
		<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/edit_user/{id}(id=${user.id})}" class="btn btn-xs btn-success">Edit</a></td>
		</tr>
		</tbody>
		</table>
		
		
		<br>
		<a href = "/adduser" class = "btn btn-large btn-success">Add new user</a>
		<a href = "/deptlist" class = "btn btn-large btn-success">Departments</a>
		<a href = "/expenseslist" class = "btn btn-large btn-success">Main page</a>
		
	
</div>	
</body>
</html>